@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Imprima');

body {
    background-color: #FF9900;
    font:normal 20px Imprima, sans-serif;
}

h1 {
    font:bold 36px Fjalla One, sans-serif;
}